.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    
}

.item label{
    display: inline-flex;
    justify-content: start;
    
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.item input {
    border-radius: 15px;
    border: none;
    padding: 16px;
    font-size: 16px;
    color: gray;
}